footer {
  text-align: left;
  margin-bottom: 4rem;
  opacity: 0.7;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
  }
  img {
    height: 40px;
    width: 40px;
    background-color: var(--bg);
  }
  a {
    padding-right: 1rem;
  }
  a.withicon:hover {
    filter: drop-shadow(4px 4px 50px #ffffff) contrast(200%);
  }
}
